@model CMP.Core.Models.DeploymentTemplate

@{
    ViewData["Title"] = "View";
    var itemUri = new Uri(Model.Url);
    var path = itemUri.GetLeftPart(UriPartial.Path);    
    var azureDeploy = HtmlEncoder.Encode(path + "/azuredeploy.json");
}

<h1>View</h1>

<div>
    <h4>DeploymentTemplate</h4>
    <hr />
    <img src="@Model.ArchitectureDiagramUri" />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GitUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GitUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadmeUrl)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.ReadmeUrl">View readme.md in Azure DevOps</a>            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
     <a asp-action="Index">Back to List</a>
</div>
